.row {
	height: 18px;
	font-size: 16px;
	border-bottom: 1px solid #f2f2f2;
}

.td1 { width: 25%; padding-left:5px}
.td2 { width: 25%; padding-left:5px}
.td3 { width: 25%; padding-left:5px}
.td4 { width: 25%; padding-left:70px}

.tag {
	color: black;
	background: white;
	width: 100%;
	margin-right: 10px;
	border-radius: 5px;
}

.sampleName {
	cursor: pointer;
	display: inline-block;
}